body {
    background-color:black;
}

#title {
    text-shadow:1px 1px rgb(254,254,240);
}

#subtitle {
    color:rgb(254,254,240);
}

#navigation li a {
    color:rgb(254,254,240); 
}

.hours, .address {
    color:rgb(254,254,240);
}

.credit {
  color:rgb(254,254,240);
}