body {
    /*background-color:#f3ecdc;*/
    background-color:#E3DAC9;
    text-rendering:optimizeLegibility;
    font-family: 'Oswald', sans-serif;
}

#container {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    height:100%;
    overflow:hidden;
}

#header {
    width:900px;
    height:60px;
}

#title {
    display:inline-block;
    font-size:30pt;
    color:rgb(184,25,49);
    text-transform:uppercase;
    text-shadow:1px 1px gray;
}

#subtitle {
    display:inline-block;
    padding-top:13px;
    margin-left:2px;
    font-size:12pt;
    text-transform:uppercase;
}

#navigation {
    float:right;
    display:inline;
    padding-top:28px;
}

#navigation ul {
    text-align:center;
    padding:0;
    margin:0;
}

#navigation li {
    display:inline;
    list-style-type:none;
    text-align:center;
    margin-left:20px;
    padding-left:10px;
    padding-right:10px;
}

#navigation li a:hover {
    color:rgb(184,25,49);
}

#navigation li a {
    color:black;
    text-decoration:none;
    font-weight:300;
}

#content {
    height:462px;
    box-shadow: 0 0 2px gray;
    border:1px solid #C0C0C0;
    border-radius:5px;
    display:block;
    overflow:hidden;
    background-color:#FFFAF0;
}

#frontpage {
    position:relative;
    height:462px;
    width:900px;
    box-shadow: 0 0 2px gray;
    border:1px solid #C0C0C0;
    border-radius:5px;
    display:block;
    background-color:#FFFAF0;
    overflow:hidden;
    margin-right:auto;
    margin-left:auto;
}

#frontpage img.slideshow {
  position:absolute;
  display:none;
  min-height:462px;
  min-width:900px;
  z-index:0;
  
}

.side-image img.slideshow {
  position:absolute;
  display:none;
  min-height:462px;
  min-width:300px;
  z-index:0;
}

#frontpage img.active {
  z-index:1 !important;
}

.side-image img.active {
  z-index:1 !important;
}

#content p {
    float:right;
    font-weight:300;
    width:550px;
    margin-left:10px;
    margin-right:20px;
    
}

.hours, .contactinfo {
    float:left;
    display:inline;
    width:120px;
    font-family: 'Oswald', sans-serif;
    font-weight:300;
    color:black;
/*    color:rgb(184,25,49);
*/}

.hours {
    width:300px;
    height:150px;
}

.hours li {
    list-style-type:none;
}

.contactinfo a {
  text-decoration:none;
  color:rgb(184,25,49);
}

.contactinfo {
    text-align:right;
    padding-top:15px;
    height:150px;
}

.social {
  font-family: 'Oswald', sans-serif;
  font-weight:300;
  color:rgb(184,25,49);
  padding-top:15px;
  margin-left:610px;
  height:150px;
  text-align:right;
}

.icon {
  width:20px;
  padding-left:3px;
  vertical-align:middle;
  position:relative;
  bottom:2px;
}

.vspace {
    margin-top:460px;
}

.side-image {
  position:relative;
  float:left;
  background-color:#FFFAF0;
  margin-right:5px;
  height:462px;
  width:300px;
  border-right:1px solid gray;
  overflow:hidden;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

.side-image img {
  min-width:300px;
  min-height:462px;
}

h1 {
    padding-bottom:0px;
    margin-bottom:0px;
    font-weight:normal;   
    clear:both;
    cursor:pointer;
    font-size:20pt;
    border-bottom:1px solid black;
    padding-top:10px;
}

h2 {
  margin-left:8px;
  display:inline-block;
  width:550px;
  vertical-align:top;
  margin-top:5px;
  margin-bottom:0px;
  font-weight:normal;
  
}

h3 {
  text-align:center;
  padding-top:10px;
  padding-bottom:0px;
  margin-bottom:0px;
  clear:both;
}

.menusection {
    display:block;
    width:100%;
    
}

.menusection li {
    list-style-type:none;
    font-weight:300;
    
}

.menusection ul {
  margin-left:15px;
  padding:0px; 
}

.item {
    display:block;
    text-align:left;
    width:130px;
    margin-bottom:1px;
    margin-top:1px;
    float:left;
}

.price {
    display:block;
    text-align:left;
    margin-left:30px;
    margin-bottom:1px;
    margin-top:1px;
    width:80px;
    float:left;
    margin-right:45px;
}

#gcal-events {
  width:560px;
  float:right;
}

.event {
  display:block;
  width:500px;
  margin:10px;
  height:100%;
  vertical-align:top;
  border-radius:5px;
  padding:5px;
  font-weight:300;
}

.event-title {
  font-weight:normal;
  margin-right:10px;
  float:left;
}

.event-content {
  padding-left:20px;
  font-size:11pt;
  color:rgb(100,10,30);
}

.event:first-child {
  border:3px solid rgb(184,25,49);
}

.scroll {
  overflow:scroll;
}

.scroll-menu {
  overflow:scroll;
  height:100%;  
}

.open {
  display:inline-block;
  margin-right:22px;
}

.closed {
  display:inline-block;
  margin-right:20px;
}