body {
    background-color:#100c08;
}

#title {
    text-shadow:1px 1px #E3DAC9;
}

#subtitle {
    color:#E3DAC9;
}

#navigation li a {
    color:#E3DAC9;    
}

.hours, .contactinfo {
    color:#E3DAC9;    
}