@import url('MyFontsWebfontsKit.css');

body {
    background-color:#E3DAC9;
    text-rendering:optimizeLegibility;
    font-family: 'Montserrat', sans-serif;
    font-size:10pt;
}

#container {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    height:100%;
    overflow:hidden;
    
    position:relative;
    top:-25px
}

#header {
    width:900px;
    height:60px;
}

#title {
    display:inline-block;
    font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
    font-size:30pt;
    color:rgb(239,41,59);
    text-transform:uppercase;
    text-shadow:1px 1px gray;
}

#subtitle {
    display:inline-block;
    font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
    padding-top:13px;
    margin-left:2px;
    font-size:12pt;
    text-transform:uppercase;
}

#navigation {
    font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
    float:right;
    display:inline;
    padding-top:28px;
    font-size:12pt;
}

#navigation ul {
    text-align:center;
    padding:0;
    margin:0;
}

#navigation li {
    display:inline;
    list-style-type:none;
    text-align:center;
    margin-left:20px;
    padding-left:10px;
    padding-right:10px;
}

#navigation li a:hover {
    color:rgb(239,41,59);
}

#navigation li a {
    color:black;
    text-decoration:none;
    font-weight:300;
}

#content {
    height:462px;
    box-shadow: 0 0 2px gray;
    border:1px solid #3f3f3f;
    border-radius:5px;
    display:block;
    overflow:hidden;
    background-color:rgb(254,254,240);
}

#frontpage {
    position:relative;
    height:462px;
    box-shadow: 0 0 2px gray;
    border:1px solid #3f3f3f;
    border-radius:5px;
    display:block;
    background-color:#FFFAF0;
    overflow:hidden;
    margin-right:auto;
    margin-left:auto;
    width:898px;
}

#frontpage img.slideshow {
    position:absolute;
    display:none;
    min-height:462px;
    min-width:900px;
    z-index:0;
}

.side-image img.slideshow {
    position:absolute;
    display:none;
    min-height:462px;
    min-width:300px;
    z-index:0;
}

#frontpage img.active {
    z-index:1 !important;
}

.side-image img.active {
    z-index:1 !important;
}

#content p {
    float:left;
    font-weight:300;
    width:550px;
    margin-left:20px;
    margin-right:20px;
    
}

.info {
    height:65px;
}

.hours, .address {
    float:left;
    display:inline;
    width:120px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color:black;
    height:65px;
}

.hours {
    width:300px;    
}

.hours li {
    list-style-type:none;
}

.address a {
    text-decoration:none;
    color:rgb(239,41,59);
    height:65px;
}

.address {
    text-align:right;
    padding-top:15px;
    height:65px;
    width:150px;
}

.social {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color:rgb(239,41,59);
    padding-top:15px;
    margin-left:610px;
    height:65px;
    text-align:right;
}

.icon {
    width:20px;
    padding-left:3px;
    vertical-align:middle;
    position:relative;
    bottom:2px;
}

.vspace {
    margin-top:460px;
}

.side-image {
    position:relative;
    float:left;
    background-color:#FFFAF0;
    margin-right:5px;
    height:462px;
    width:300px;
    border-right:1px solid gray;
    overflow:hidden;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.side-image img {
    height:462px;
}

img.logo {
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:60px;
    position:relative;
    top:38px;
}

.aboutgallery {
    display:block;
    width:500px;
    padding-left:315px;
    margin-right:auto;
    margin-left:auto;
}

img.aboutpic {
    display:inline-block;
    height:200px; 
}

.menusection h1 {
    font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
    padding-bottom:0px;
    margin-bottom:0px;
    padding-top:5px;
    font-weight:normal;   
    clear:both;
    cursor:pointer;
    font-size:12pt;
    border-bottom:1px solid black;
}

.menusection h2 {
    font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
    font-weight:normal;
    margin-left:0px;
    font-size:13pt;
    clear:both;
    width:100%;
    color:rgb(239,41,59);
    margin-top:0px;
}

h2 {
    font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
    text-align:left;
    margin-left:21px;
    display:inline-block;
    vertical-align:top;
    margin-top:15px;
    margin-bottom:0px;
    font-weight:normal;
}

h2 a {
    text-decoration:none;
    color:rgb(239,41,59);
}

.feature {
    margin-left:327px;
    margin-bottom:10px;
    font-weight:normal;
    font-size:10pt;
}

.feature ul {
    padding:0px;
    margin-top:0px;
    margin-bottom:0px;
}

.feature h3 {
    display:inline;
    color:rgb(239,41,59);
    margin-bottom:10px;
    margin-right:5px;
    font-weight:normal;
    font-size:10pt;
}

.feature li {
    list-style-type:none;
}

.feature li a {
    color:rgb(239,41,59);
}

.menusection {
    display:block;
    width:100%;
}

.menusection li {
    list-style-type:none;
    font-weight:300;
    float:left;
}

.menusection li:last-child {
    margin-bottom:15px;
}

.menusection ul {
    margin-left:35px;
    padding:0px; 
}

.item {
    display:block;
    text-align:left;
    width:190px;
    margin-bottom:1px;
    margin-top:1px;
    float:left;
}

.price {
    display:block;
    text-align:left;
    margin-left:10px;
    margin-bottom:1px;
    margin-top:1px;
    width:40px;
    float:left;
    margin-right:30px;
}

.price.wide {
    width:100px;
}
    
.price-drink {
    display:block;
    text-align:left;
    margin-left:0px;
    margin-bottom:1px;
    margin-top:1px;
    width:80px;
    float:left;
    margin-right:30px;
}

#gcal-events {
    width:560px;
    float:left;
    margin-left:20px;
    margin-top:20px;
}

.event {
    display:block;
    width:535px;
    padding:5px;
    height:100%;
    vertical-align:top;
    border-radius:5px;
    font-weight:300;
}

.event-title {
    font-weight:normal;
    margin-right:10px;
    float:left;
}

.event-content {
    padding-left:20px;
    color:rgb(100,10,30);
}

.event:first-child {
    border:3px solid rgb(239,41,59);
}

.scroll {
    overflow-y:scroll;
    height:335px;
  
}

.scroll-menu {
    overflow-y:scroll;
    height:370px;
}

.open {
    display:inline-block;
    margin-right:22px;
}

.closed {
    display:inline-block;
    margin-right:20px;
}

.credit {
    width:900px;
    margin-right:auto;
    margin-left:auto;
    font-size:9pt;
    text-align:center;  
    border-top:1px solid gray;
    padding-bottom:30px;
}

.credit a {
    text-decoration:none;
    color:rgb(239,41,59);
}