<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    
    {% include googleanalytics.html %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    {% if page.slideshow or (page.sideimages | size) > 1 %}
    <script type="text/javascript" src="/js/slideshow.js"></script>
    {% endif %}
    
    <title>{{ page.title }}</title>
  </head>
  
  <body>
    <div id="container">
      <div id="header">
        <div id="title">
          Caffe Frascati
        </div>
        <div id="subtitle">
          Cappuccino E Vino
        </div>
        
        {% include navigation.html %}
      </div>
      
      {{ content }}
      
      {% include address.html %}
      {% include hours.html %}
      {% include social.html %}
      {% include specialhours.html %}
    </div>
    
    <div class="credit">
      Website created by <a href="http://jmv.me/">Julia Van Cleve</a>
    </div>
  </body>
</html>
