---
layout: default
---
<div id="content">
  {% if (page.sideimages | size) > 1 %}
    {% assign page.slideshow = true %}
    <div class="side-image slideshow" data-showduration="3s" data-fadeduration="1s">
  {% else %}
    <div class="side-image">
  {% endif %}
    
  {% for item in page.sideimages %}
    <div class="slide">
    {% if forloop.last %}
      <img src="{{ item.image }}" />
    {% else %}
      <img data-slidesrc="{{ item.image }}" />
    {% endif %}
    
    {% if item.caption %}
      <div class="slideshow-text">{{ item.caption }}</div>
    {% endif %}
    </div>
  {% endfor %}
    
  </div>
  
  {{ content }}
</div>